<div id="modalVisualizar" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content"> 
      <div class="modal-header"> 
        <h4 class="modal-title">Visualizar Anuncio</h4>
      </div>
      <!-- modal body section -->
      <div class="modal-body">
        <div class="center">
          <img class="img-fluid" *ngIf="anuncioVisualizar.imagem" src="{{anuncioVisualizar.imagem.value}}" alt="Card image cap">
        </div>
        <h5 class="card-title">{{ anuncioVisualizar.nome }}</h5>
        <p class="card-text">Tipo de Anúncio: {{ anuncioVisualizar.tipo }}</p>
        <p class="card-text">Descrição: {{ anuncioVisualizar.descricao }}</p>
        <p class="card-text">Valor: {{ anuncioVisualizar.valor | currency: 'BRL' }}</p>
        <p class="card-text">Contato: {{ anuncioVisualizar.contato | telefone }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="fechar()">Fechar</button>
      </div>
    </div>
  </div>
</div>
