<a data-toggle="modal" href="#modalVisualizar" (click)="visualizarAnuncio()"> 
  <div class="card" [ngClass]="!anuncioCard?.destaque ? 'cardHover' : 'cardHoverDestaque'" id="anuncio1">
    <img class="card-img-top" src="{{anuncioCard.imagem.value}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ anuncioCard.nome }}</h5>
      <p class="card-text">{{ anuncioCard.descricao | descricaoShort: 20 }}</p>
    </div>
  </div>
</a>
<app-visualizar-anuncio *ngIf="exibeVisualizar"
  [anuncioVisualizar]="anuncioVisualizado"
  (eventoFechar)="fechar()">
</app-visualizar-anuncio>
